/***********************
UNIVERSAL STYLES
***********************/

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Open-Sans', sans-serif;
}

a {
  color: #6f1e0b;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: none;
  color: #6f1e0b;
}

/*a:hover {
  text-decoration: none;
  color: #6f1e0b;
}*/

h3 {
  font-size: 20px;
  color: #6f1e0b;
}

/**************
Header Styles
**************/

.main-header {
  margin: 2em;
  margin-bottom: 1em;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
}

.fa-user {
  margin-left: .5em;
  font-size: 1.75em;
  color: #6f1e0b;
}

#search-button {
  background-color: #6f1e0b;
  color: #fff;
  border: none;
}

#search-bar {
  border: 1px solid #6f1e0b;
  padding: 1%;
  margin-bottom: 0;
}

.hideme {
  display: none;
}

.logo {
  color: #6f1e0b;
  text-align: center;
  margin: 0 0 2% 0;
  padding-bottom: .25em;

}

.logo h1 {
  font-size: 6em;
  font-family: 'Limelight', cursive;
  margin-bottom: -10px;
  margin-top: 30px;
}

.logo p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9em;
}

.logo a:focus,
.logo a:hover {
  color: #6f1e0b;
  text-decoration: none;
}

.main-nav {
  /*display: flex;
  flex-direction: column;*/
  margin-bottom: 20px;
}

.main-nav li {
  text-transform: uppercase;
  padding: 3% 5%;
  text-align: center;
  line-height: 1.25;
  border: 2px solid #6f1e0b;
  margin: 2% 10%;
  border-radius: 7px;
}

.main-nav li:hover,
.main-nav li:focus,
.active {
  font-weight: bold;
  color: #fff;
  background-color: #d59e6a/*#ea5532*/;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px #080808;
}

.main-nav a {
  padding: 0 30%;
}

.main-nav a:hover,
.main-nav a:focus,
.active a {
  color: #fff;
}

/**********************************
Main Content Styles
***********************************/

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.main {
  margin: 0 2% 10% 2%;
}

h2 {
  color: #6f1e0b;
}

/****************************
Footer Styles
*****************************/
footer {
  background-color: #6f1e0b;
  color: #fff;
  padding: 5%;
  margin: 0;
}

.bottom-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 3%;
}

.bottom-nav ul a {
  color: #fff;
}

.bottom-nav li {
  flex-grow: 1;
  padding: 4%;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3%;
  padding-top: 0;
}

.social-media a {
  color: #fff;
  font-size: 1.5em;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 3% 5%;
}

.social-media a:hover,
.social-media a:focus {
  background-color: #d59e6a;
  border: 1px solid #6f1e0b;
}

footer p {
  text-align: center;
  padding-top: 2%;
  margin-top: 0;
}

/*********************************
INDIVIDUAL PAGE STYLES
*********************************/

/**********************************
Home Page
***********************************/
.wrapper img {
  width: 100%;
}

.signup {
  margin-bottom: 8%;
  padding: 2% 5% 5% 5%;
  background-color: #d59e6a;
}

.signup h3 {
  color: #fff;
  font-weight: 700;
  text-shadow: 1px 1px 1px #6f1e0b;
}

#subscribe-email {
  padding: 1%;
  border: 1px solid #6f1e0b;
}

#subscribe-button {
  margin-left: 0;
  margin-top: 2%;
  padding: 1% 2%;
  background: #6f1e0b;
  color: #fff;
  border: 0;
  font-weight: 700;
}

.fa-envelope {
  margin-right: 5px;
}

/***********************************
About Page
***********************************/
.mission,
.history {
  margin-bottom: 5%;
}

.group-pic {
  width: 100%;
  border: 1px solid #000;
  margin-bottom: 5%;
}

.about h3 {
  font-size: 20px;
  color: #6f1e0b;
}

hr {
  border-style: solid;
  border-color: #6f1e0b;
  border-width: 1px 0 0 0;
}

/*************************
Concert Page
*************************/

#concert-pic {
  width: 100%;
  border: 1px solid #000;
  margin-bottom: 5%;
}

table {
  font-size: .8em;
  padding: 5px;
  width: 100%;
  margin-bottom: 3%;
}

caption {
  font-size: 2em;
  color: #6f1e0b;
}

tbody {
    border: 1px solid #6f1e0b;
}

td,
th {
  padding: 10px;
  text-align: left;d
}

th {
  background-color: #6f1e0b;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
  padding-right: 2%;
}

tbody tr {
  border-bottom: 1px solid #6f1e0b;
}

tbody tr:nth-child(even) {
  background-color: #d59e6a;
  color: #fff;
}

.time {
  display: none;
}

.free-shows,
.local-shows {
  background-color: #fff;
  color: #6f130b;
  border: 2px solid #6f130b;
  padding: 3%;
  border-radius: 5px;
}

.free-shows {
  margin-right: 3%;
}

.concerts aside {
  margin-top: 10%;
}

/*****************************************
CONTACT PAGE
****************************************/
.intro {
  margin-bottom: 10%;
}

form {
  background: rgba(213,158,106,0.8);
  border-radius: 5px;
  padding: 2%;
}

fieldset {
  border: none;
}

input[type="text"] {
  width: 100%;
  border-radius: 2px;
  padding: 2%;
  margin-bottom: 2%;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 2%;
}

label {
  color: #6f1e0b;
  font-weight: 400;
  font-size: 1.15em;
}

.contact h3 {
  font-weight: 700;
}

.contact span {
  color: rgb(255, 0, 0);
}

textarea {
  width: 100%;
  height: 100px;
}

#join-field {
  display: none;
}

#hire-field {
  display: none;
}

#donation-field {
  display: none;
}

#submit-button {
  background-color: #fff;
  color: #6f1e0b;
  border: 2px solid #6f1e0b;
  padding: 3%;
  border-radius: 5px;
}

#submit-button:hover,
#submit-button:focus {
  background-color: #6f1e0b;
  color: #fff;
  font-weight:700;
}

/*************************
Tablet, Small Laptop Styles
*************************/

@media (min-width: 750px) {
  /*****************
  Header Styles
  *****************/

  .main-nav ul {
    display: flex;
    justify-content: center;
  }

  .main-nav li {
    border: none;
    margin: 2%;
    padding: 2%;
    font-size: 1.15em;
  }

  .main-nav li:hover,
  .main-nav li:focus,
  .active {
    background: #fff;
    color: #d59e6a;
    box-shadow: none;
    text-shadow: none;
  }

  .main-nav li a:hover,
  .main-nav li a:focus,
  .active a {
    color: #d59e6a;
  }

  .logo h1 {
    font-size: 7.5em;
  }

  .logo p {
    font-size: 1em;
  }

  /***************
  Footer Styles
  ***************/

  footer {
    padding: 0;
  }

  .footer-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2%;
  }

  .bottom-nav {
    flex-grow: .25;
  }

  .social-media {
    flex-grow: .25;
    padding-top: 1%;
  }

  .social-media a {
    font-size: 1em;
    padding: 4% 5%;
  }

  footer p {
    padding: 0;
    padding-bottom: 2%;
  }

  /*****************
  Main Content Styles
  ******************/
  .wrapper {
    max-width: 85%;
  }

/*******************
Home Page
*******************/
  .content {
    display: flex;
    margin: 5% 0 2% 0;
  }

  .signup {
    margin-top: 1%;
    padding: 3%;
  }

  .signup h3 {
    margin-top: 5px;
  }

  #subscribe-email {
    padding: 2%;
  }

  #subscribe-button {
    padding: 5%;
    margin-top: 5%;
    border-radius: 3px;
  }

  .home {
    margin: 0 2% 0 0;
  }

  .home h2 {
    margin-top: 1%;
  }

  /*********************
  About
  *********************/
  .rows {
      display: flex;
  }

  #mission {
    background-color: #d59e6a;
    padding: 1% 3%;
    margin: 20px 0;
    flex: 1;
  }

  #mission h2 {
    color: #fff;
    font-weight: 700;
  }

  #history {
    margin-left: 3%;
    flex: 2;
  }

  hr {
    display: none;
  }

  #roster {
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/************************
Concerts
************************/

.concerts {
  margin-bottom: 5%;
  margin: 0 auto;
}

table {
  font-size: 1em;
  width: 95%;
  margin-bottom: 2%;
}

tbody {
  font-weight: 700;
}

.time {
  display: block;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
}

.free-shows,
.local-shows {
    padding: 1.5%;
    font-weight: 700;
    margin: 0 auto;
}

.free-shows {
  margin-right: 1%;
}

.hire {
  margin: 5% 0;
}

.hire h3 {
  font-size: 24px;
}

/************************
Contact
************************/
.intro {
  margin-bottom: 3%;
}

form {
  max-width: 575px;
  margin: 0 auto;
}

#submit-button {
  padding: 2%;
  font-weight: 700;
}

}
